@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
/*! purgecss start ignore */
@import "search.css";

/*! purgecss end ignore */
html,
body,
body>div {
  height: 100%;
}

.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.mainElement {
  flex: 100;
}
